extends ../layout/task_layout

block content
    style.
        .data-table tbody tr td {
            vertical-align: top;
        }

        .th-black-white {
            background-color:black;
            color:white;
            font-weight:bold;
        }

        .tf-black-white {
            background-color:black;
            color:white;
            font-weight:bold;
        }

        .tf-black-white a {
            color: white;
        }
    div
        table(id="task-table", class="data-table ink-table hover", style="background-color:white;")

    script(type="text/javascript").
        $(function(){

            $("#task-table").tabler(
                {
                    update_el: '.row-edit',
                    delete_el: '.row-delete',
                    header_class: 'th-black-white',
                    footer_class: 'tf-black-white',
                    data_url: '/api/tasks',
                    update_url: '/api/task/update',
                    delete_url: '/api/task/delete',
                    columns: [
                        { name: '_id', title: 'UID', width: '5%',
                            format: function(data) {
                                return data.substring(0, 9);
                            }
                        },
                        { name: 'name', title: 'Name', type: "text", width: '15%' },
                        { name: 'start_date', title: 'Start Date', type: "text", width: '15%',
                            format: function(data) {
                                return strftime('%B %d, %Y %H:%M:%S', new Date(Date.parse(data)));
                            }
                        },
                        { name: 'end_date', title: 'End Date', type: "text", width: '15%', link: { enabled: true, to: '/api/tasks' },
                            format: function(data) {
                                return strftime('%B %d, %Y %H:%M:%S', new Date(Date.parse(data)));
                            }
                        },
                        { name: 'priority', title: 'Priority',type: "select", list: [['low', 'low'],['normal', 'normal'], ['high', 'high']], width: '15%' },
                        { name: 'details', title: 'Details', type: "textarea", width: '20%' },
                        { name: 'user', title: 'Assignee', type: "select", list_src: '/api/users?type=tabler', width: '10%' }
                    ]
                }
            );

        });