extends ../layout/login_layout

block content
    div(class="column-group")
        div(class="large-50 medium-80 small-100 push-center")
            div(class="column-group")
                div(class="large-35 medium-50 small-100 push-center", style="text-align:center;padding:15em 1em;")
                    img(src="/images/example/brand_example.png", width="128", height="128")
                    h5 Welcome
                    div
                        // Alert
                        if messages.error
                            div(class="ink-alert basic error")
                                p
                                    span
                                    i(class="icon-quote-left") &nbsp;
                                    span &nbsp;#{messages.error} &nbsp;
                                    i(class="icon-quote-right")
                        if messages.info
                            div(class="ink-alert basic info")
                                p
                                    span
                                    i(class="icon-quote-left") &nbsp;
                                    span &nbsp;#{messages.info} &nbsp;
                                    i(class="icon-quote-right")
                        //
                        form(class="ink-form", method="POST", action="/login/local", name="login_form")
                            fieldset
                                div(class="control-group column-group")
                                    div(class="control large-100 medium-100 small-100 prepend-symbol")
                                        span
                                            input(type="text", id="login-username", name="username", placeholder="Enter your valid login")
                                            i(class="icon-user")&nbsp;
                                div(class="control-group column-group")
                                    div(class="control large-100 medium-100 small-100 prepend-symbol")
                                        span
                                            input(type="password", id="login-password", name="password", placeholder="Enter your valid password")
                                            i(class="icon-key")&nbsp;
                                div(class="control-group column-group")
                                    div(class="control large-100 medium-100 small-100 prepend-symbol")
                                        span
                                            input(type="text", id="login-project", name="project", placeholder="Enter your project ID")
                                            i(class="icon-book")&nbsp;
                                div
                                    button(type="sumbit", class="ink-button") log in
                                    &nbsp;&nbsp;
                                    a(href="#") forgot password?