nav(class="ink-navigation hide-small")
    ul(class="menu horizontal black shadowed")
        li
            a(href="javascript:void(0);")
                img(src="/images/example/brand_example.png", width="48", height="48")
        li
            a(href="javascript:void(0);")
                span(class="own-nav-header", style="font-size:2.1em") Project Management System
        li(style="float:right")
            a(href="javascript:void(0);", style="padding:1em 1.5em;overflow:hidden")
                div(style="float:left")
                    img(src="/images/example/default_user.jpg", width="48", height="48", style="border-radius:3em;margin-right:1em")
                div(style="float:left;")
                    p(style="font-weight:bold;font-size:1.25em") Steve Jobs
                    p(style="font-size:0.8em;line-height:0.15em") administrator
            ul(class="submenu", style="margin-top:1.8em;")
                li
                    a(href="javascript:void(0);" id="user-logout")
                        i(class="icon-signout") &nbsp;Log out

script(type="text/javascript").
    $(function(){

        $('#user-logout').on('click', function(e){
            e.stopPropagation();

            $.ajax({
                url: '/login/local/delete',
                type: 'DELETE',
                error: function(){
                },
                success: function(res){
                    window.location = '/login';
                }
            });
        });

    });