doctype html
html
    head
        title Project Management System
        link(rel='stylesheet', href='/stylesheets/ink/ink.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='/javascripts/user_login.js')
body
    block content

