doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/ink/ink.css')
        link(rel='stylesheet', href='/stylesheets/toast/toast.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='/javascripts/vendor/jquery.js')
        script(type='text/javascript', src='/javascripts/vendor/knockback.js')
        script(type='text/javascript', src='/javascripts/vendor/ink/ink-all.min.js')
        script(type='text/javascript', src='/javascripts/vendor/ink/ink.modal.js')
        script(type='text/javascript', src='/javascripts/vendor/ink/autoload.js')
        script(type='text/javascript', src='/javascripts/vendor/toast/toast.min.js')
    body
        div
            // header
            include _header

            div(class="ink-grid", style="max-width:none;padding-top:2em")
                div(class="column-group gutters")
                    div(class="large-20 medium-40 small-100")
                        nav(class="ink-navigation", style="padding:24px 24px 24px 0")
                            ul(class="menu vertical orange rounded shadowed")
                                li(class="active")
                                    a(href="#")
                                        i(class="icon-user-md")
                                        span &nbsp;&nbsp;User Dashboard
                                li
                                    a(href="#")
                                        i(class="icon-cog")
                                        span &nbsp;&nbsp;Personal Information
                                li
                                    a(href="#")
                                        i(class="icon-cogs")
                                        span &nbsp;&nbsp;Account Settings
                                li
                                    a(href="#")
                                        i(class="icon-bullseye")
                                        span &nbsp;&nbsp;Activity Logs
                    div(class="large-80 medium-60 small-100")
                        div(style="padding:10px")
                            div(style="margin-top:1em;")
                                block content
