extends ../layout/task_layout

block content
    form(id="uploadForm", method="post", action="/resource/upload", enctype="multipart/form-data")
        h4 Select a file to upload
        br
        input(type="file", name="uploadedFile", id="uploadedFile")
        span &nbsp;to&nbsp;&nbsp;
        select(name="toFolder", id="toFolder")
            option(value="artifacts") Artifacts
            option(value="documents") Documents
        br
        br
        input(type="button", id="startUploadFile", value="Upload File", class="ink-button red", style="margin:0;")
        span &nbsp;&nbsp;&nbsp;
        span(id="uploadProgress", style="display:none;")

    script(type="text/javascript").
        function onFileSelected(e) {
            var file = document.getElementById("uploadedFile").files[0];
            $("#uploadProgress").text("");
            $("#uploadProgress").fadeOut("fast");
        }

        function uploadFile() {
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            var file = document.getElementById("uploadedFile").files[0];
            fd.append("uploadedFile", file);
            xhr.upload.addEventListener("progress", function(e){
                if (e.lengthComputable)
                {
                    var percentage = parseInt(Math.round((e.loaded / e.total) * 100));
                    $("#uploadProgress").fadeIn("fast");
                    $("#uploadProgress").text("Uploading... " + percentage + "%");
                    $("#uploadedFile").attr("disabled","disabled");
                }
            }, false);

            xhr.upload.addEventListener("load", function(e){
                $("#uploadProgress").text("File has just been uploaded successfully!");
                $("#uploadedFile").removeAttr("disabled");
                $("#uploadedFile").val("");
            }, false);

            xhr.onreadystatechange = function()
            {
                if (xhr.readyState == 4)
                    console.log(xhr.status);
            }

            if (file != undefined)
            {
                xhr.open("POST", "/resource/upload", true);
                xhr.send(fd);
            }
            else
            {
                $("#uploadProgress").text("No file was pending for upload!");
                $("#uploadProgress").fadeIn("fast");
                $("#uploadedFile").removeAttr("disabled");
                $("#uploadedFile").val("");
            }
        }

        $(function(){
            $("#startUploadFile").on("click", function(e){
                uploadFile();
            });
            $("#uploadedFile").on("change", onFileSelected);
        })